body {

}

.header {
  background: url('/assets/images/header.jpg');
  background-size:cover;
  background-position:center;
  height: 200px;
}

.navbar {
  margin-bottom: 0px;
}

#main-carousel {
  height:500px;
}

.carousel-1 {
  background:url('/assets/images/jeff-hakman.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.carousel-2 {
  background:url('/assets/images/stephanie-gilmore.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.carousel-3 {
  background:url('/assets/images/kanoa-igarashi.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.carousel-4 {
  background:url('/assets/images/jake.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.stephanie-img {
  background: url('/assets/images/stephanie-gilmore.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.jeff-img {
  background: url('/assets/images/jeff-hakman.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.kanoa-img {
  background: url('/assets/images/kanoa-igarashi.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.jake-img {
  background: url('/assets/images/jake.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}